<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="PetrolEng" class="org.Pratham.PetrolEngine"  scope="prototype"/>
    <bean id="Car" class="org.Pratham.Car">
        <property name="engine" ref="PetrolEng">

        </property>
    </bean>
</beans>