.orientation-box {
  width: 100%;
  height: 200px;
  background-color: gray;
  color: white;
  text-align: center;
  line-height: 200px;
}

@media (orientation: portrait) {
  .orientation-box {
    background-color: purple;
  }
}

@media (orientation: landscape) {
  .orientation-box {
    background-color: green;
  }
}
