.container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  height: 300px;
  border: 2px solid black;
}
.item {
  flex: 0 0 45%;
  padding: 10px;
  background: skyblue;
  margin: 5px;
}
